[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"

[packages]
django = "*"
djangorestframework = "*"
django-heroku = "*"
whitenoise = "*"
psycopg2-binary = "*"
gunicorn = "*"
httpie = "*"
djangorestframework-simplejwt = "*"
django-cors-headers = "*"
django-rest-auth = "*"
django-extensions = "*"
ipython = "*"
factory-boy = "*"
faker = "*"
drf-yasg = "*"
packaging = "*"
coverage = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
